<body>
  <div class="container">
    <div class="left">
      <form action="/cards" method="get" role="form">
        <button type="submit" class="btn btn-primary">My cards</button>
      </form>
      <form action="/Transactions" method="get" role="form">
        <button type="submit" class="btn btn-primary">Transactions history</button>
      </form>
      <form action="/user/:password" method="get" role="form">
        <button type="submit" class="btn btn-primary">Change password</button>
      </form>
      <form action="/sellcard" method="get" role="form">
        <button type="submit" class="btn btn-primary">Sell a card</button>
      </form>
      <form action="/userDeletion" method="get" role="form">
        <button type="submit" class="btn btn-primary">delete account</button>
      </form>
    </div>
    <div class="right">
      {{#if AlertMessage}}
        {{message}}
      {{/if}}
      <p>Username: {{username}}</p>
      <p>Email: {{email}}</p>
      <p>Balance: {{Balance}}</p>
      <form action="user/:username/balance" method="get" role="form">
        <button type="submit" class="btn btn-primary">Add 100$</button>
      </form>
      {{#if isprivate includesZero=false}}
        <p>Your account is private</p>
        <form action="/public" method="post" role="form">
          <button type="submit" class="btn btn-primary">Make your account public</button>
        </form>
      {{else}}
        <p>Your account is public</p>
        <form action="/private" method="post" role="form">
          <button type="submit" class="btn btn-primary">Make your account
            private</button>
        </form>
      {{/if}}
    </div>
  </div>
</body>