<di>
	<div class="transactionsContainer">
		<div class="filterColumn">
			<h3>Fliter Options</h3>
			<br>
			<form action="/transactionhistory" method="post">
				<h5>Transaction range</h5>
				<br>
				<label for="start">Start date:</label>
				<input type="date" id="start" name="start"
		value="2022-05-15">
				<br>
				<br>
				
				<label for="end">End date:</label>

				<input type="date" id="end" name="end"
		value="2022-05-15">
				<br>
				<br>
				
			<input type="checkbox" id="filterType" name="filterType">
			<label for="filterType">Filter by card type</label>
				
				<br>
				
				<label for="type">Choose a card type:</label>
			<select name="type" id="type">
					<option value="Baseball">baseball</option>
				<option value="Basketball">basketball</option>
					<option value="Football">football</option>
					<option value="Magic">magic the gathering</option>
					<option value="Pokemon">pokemon</option>
					<option value="Yu-Gi-Oh!">yu-gi-oh</option>
				</select>
				
				<br>
				<br>

				<input type="checkbox" id="seller" name="seller">
			<label for="filterType">Transactions where you were the seller</label>
				
				<br>
				
				<input type="checkbox" id="buyer" name="buyer">
				<label for="buyer">Transactions where you were the buyer</label>
						
				<br>
				<br>
				
				<input type="submit" value="Filter">

				
			</form>

	</div>
	<div class="transactionColumn">
		<h3>Your Transations</h3>
		<div class="transactionGrid">
			{{#each transactions}}
				<div class="transaction">
					<h5>Transaction #{{TransactionId}}</h5>
					<p>Traded Card: {{CardName}}</p>
					<p>Transaction Date: {{TransactionDate}}</p>
					<p>Price: {{CardPrice}}</p>
					<p>Seller: {{OriginalOwner}}</p>
					<p>Buyer: {{NewOwner}}</p>
					<form action="/transaction/newdate">
						<input hidden name="id" value={{TransactionId}}></input>
						<input type="date" name="transactionDate" value={{TransactionDate}}>
						<input hidden name="transactions" value={{transactions}}></input> 
						<input type="submit" value="Update Date">
					</form>			
				</div>
			{{/each}}
		</div>

	</div>

	</div>
</body>